$sliderMaxWidth: 900px;
$sliderMaxHeight: 60%; // 60% from width
$btnBgColor: #fff;
$btnBgColorHover: #ed3833;
$dotsBgColor: rgba(255, 255, 255, .4);
$dotsBgColorHover: rgba(255, 255, 255, .8);
$activeDotBgColor: rgba(255, 255, 255, .8);