$EasyJsSliderMaxWidth: 900px;
$EasyJsSliderMaxHeight: 60%; // 60% from width
$EasyJsSliderBgColor: transparent;
$EasyJsSliderBtnBgColor: #fff;
$EasyJsSliderBtnBgColorHover: #ed3833;
$EasyJsSliderBtnFocusColor: #fff;
$EasyJsSliderDotsBgColor: rgba(255, 255, 255, .4);
$EasyJsSliderDotsBgColorHover: rgba(255, 255, 255, .8);
$EasyJsSliderDotBgColorActive: rgba(255, 255, 255, .8);