$timingFunction: ease-in-out;

.bubble-prev-slide-show {
  -webkit-animation: bubble-prevSlideShow $timingFunction forwards;
  animation: bubble-prevSlideShow $timingFunction forwards;
  z-index: 1;
}

.bubble-prev-slide-hide {
  -webkit-animation: bubble-hideSlide $timingFunction forwards;
  animation: bubble-hideSlide $timingFunction forwards;
}

.bubble-next-slide-show {
  -webkit-animation: bubble-nextSlideShow $timingFunction forwards;
  animation: bubble-nextSlideShow $timingFunction forwards;
  z-index: 1;
}

.bubble-next-slide-hide {
  -webkit-animation: bubble-hideSlide $timingFunction forwards;
  animation: bubble-hideSlide $timingFunction forwards;
}

@-webkit-keyframes bubble-prevSlideShow {
  from {
    clip-path: circle(0 at 0 50%);
  }

  to {
    clip-path: circle(150% at 0 50%);
  }
}

@keyframes bubble-prevSlideShow {
  from {
    clip-path: circle(0 at 0 50%);
  }

  to {
    clip-path: circle(150% at 0 50%);
  }
}

@-webkit-keyframes bubble-nextSlideShow {
  from {
    clip-path: circle(0 at 100% 50%);
  }

  to {
    clip-path: circle(150% at 100% 50%);
  }
}

@keyframes bubble-nextSlideShow {
  from {
    clip-path: circle(0 at 100% 50%);
  }

  to {
    clip-path: circle(150% at 100% 50%);
  }
}

@-webkit-keyframes bubble-hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes bubble-hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}