$timingFunction: ease-in-out;

.fade-in-out-prev-slide-show {
  -webkit-animation: fadeInOut-fadeIn $timingFunction forwards;
  animation: fadeInOut-fadeIn $timingFunction forwards;
}

.fade-in-out-prev-slide-hide {
  -webkit-animation: fadeInOut-fadeOut $timingFunction forwards;
  animation: fadeInOut-fadeOut $timingFunction forwards;
}

.fade-in-out-next-slide-show {
  -webkit-animation: fadeInOut-fadeIn $timingFunction forwards;
  animation: fadeInOut-fadeIn $timingFunction forwards;
}

.fade-in-out-next-slide-hide {
  -webkit-animation: fadeInOut-fadeOut $timingFunction forwards;
  animation: fadeInOut-fadeOut $timingFunction forwards;
}

@-webkit-keyframes fadeInOut-fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  99% {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(99%);
  }
}

@keyframes fadeInOut-fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  99% {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(99%);
  }
}

@-webkit-keyframes fadeInOut-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInOut-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}