$timingFunction: ease-in-out;

.horizontal-shift-prev-slide-show {
  -webkit-animation: horizontalShift-prevSlideShow $timingFunction forwards;
  animation: horizontalShift-prevSlideShow $timingFunction forwards;
}

.horizontal-shift-prev-slide-hide {
  -webkit-animation: horizontalShift-prevSlideHide $timingFunction forwards;
  animation: horizontalShift-prevSlideHide $timingFunction forwards;
}

.horizontal-shift-next-slide-show {
  -webkit-animation: horizontalShift-nextSlideShow $timingFunction forwards;
  animation: horizontalShift-nextSlideShow $timingFunction forwards;
}

.horizontal-shift-next-slide-hide {
  -webkit-animation: horizontalShift-nextSlideHide $timingFunction forwards;
  animation: horizontalShift-nextSlideHide $timingFunction forwards;
}

@-webkit-keyframes horizontalShift-prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes horizontalShift-prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes horizontalShift-prevSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes horizontalShift-prevSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@-webkit-keyframes horizontalShift-nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes horizontalShift-nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes horizontalShift-nextSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes horizontalShift-nextSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}