$timingFunction: ease-in-out;

.overlay-prev-slide-show {
  -webkit-animation: overlay-prevSlideShow $timingFunction forwards;
  animation: overlay-prevSlideShow $timingFunction forwards;
  z-index: 1;
}

.overlay-prev-slide-hide {
  -webkit-animation: overlay-hideSlide $timingFunction forwards;
  animation: overlay-hideSlide $timingFunction forwards;
}

.overlay-next-slide-show {
  -webkit-animation: overlay-nextSlideShow $timingFunction forwards;
  animation: overlay-nextSlideShow $timingFunction forwards;
  z-index: 1;
}

.overlay-next-slide-hide {
  -webkit-animation: overlay-hideSlide $timingFunction forwards;
  animation: overlay-hideSlide $timingFunction forwards;
}

@-webkit-keyframes overlay-prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes overlay-prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes overlay-nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes overlay-nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes overlay-hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes overlay-hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}