$timingFunction: ease-in-out;

.vertical-shift-prev-slide-show {
  -webkit-animation: verticalShift-prevSlideShow $timingFunction forwards;
  animation: verticalShift-prevSlideShow $timingFunction forwards;
}

.vertical-shift-prev-slide-hide {
  -webkit-animation: verticalShift-prevSlideHide $timingFunction forwards;
  animation: verticalShift-prevSlideHide $timingFunction forwards;
}

.vertical-shift-next-slide-show {
  -webkit-animation: verticalShift-nextSlideShow $timingFunction forwards;
  animation: verticalShift-nextSlideShow $timingFunction forwards;
}

.vertical-shift-next-slide-hide {
  -webkit-animation: verticalShift-nextSlideHide $timingFunction forwards;
  animation: verticalShift-nextSlideHide $timingFunction forwards;
}

@-webkit-keyframes verticalShift-prevSlideShow {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes verticalShift-prevSlideShow {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes verticalShift-prevSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes verticalShift-prevSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@-webkit-keyframes verticalShift-nextSlideShow {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes verticalShift-nextSlideShow {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes verticalShift-nextSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes verticalShift-nextSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}