$timingFunction: ease-in-out;

.fade-shift-prev-slide-show {
  -webkit-animation: fadeShift-prevSlideShow $timingFunction forwards;
  animation: fadeShift-prevSlideShow $timingFunction forwards;
}

.fade-shift-prev-slide-hide {
  -webkit-animation: fadeShift-prevSlideHide $timingFunction forwards;
  animation: fadeShift-prevSlideHide $timingFunction forwards;
}

.fade-shift-next-slide-show {
  -webkit-animation: fadeShift-nextSlideShow $timingFunction forwards;
  animation: fadeShift-nextSlideShow $timingFunction forwards;
}

.fade-shift-next-slide-hide {
  -webkit-animation: fadeShift-nextSlideHide $timingFunction forwards;
  animation: fadeShift-nextSlideHide $timingFunction forwards;
}

@-webkit-keyframes fadeShift-prevSlideShow {
  from {
    transform: translateX(-100%) scale(.7);
    opacity: 0;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes fadeShift-prevSlideShow {
  from {
    transform: translateX(-100%) scale(.7);
    opacity: 0;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeShift-prevSlideHide {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(100%) scale(.7);
    opacity: 0;
  }
}

@keyframes fadeShift-prevSlideHide {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(100%) scale(.7);
    opacity: 0;
  }
}

@-webkit-keyframes fadeShift-nextSlideShow {
  from {
    transform: translateX(100%) scale(.7);
    opacity: 0;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes fadeShift-nextSlideShow {
  from {
    transform: translateX(100%) scale(.7);
    opacity: 0;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeShift-nextSlideHide {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(-100%) scale(.7);
    opacity: 0;
  }
}

@keyframes fadeShift-nextSlideHide {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(-100%) scale(.7);
    opacity: 0;
  }
}