$timingFunction: ease-in-out;

.horizontal-shift-prev-slide-show {
  -webkit-animation: prevSlideShow $timingFunction;
  animation: prevSlideShow $timingFunction;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.horizontal-shift-prev-slide-hide {
  -webkit-animation: prevSlideHide $timingFunction;
  animation: prevSlideHide $timingFunction;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.horizontal-shift-next-slide-show {
  -webkit-animation: nextSlideShow $timingFunction;
  animation: nextSlideShow $timingFunction;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.horizontal-shift-next-slide-hide {
  -webkit-animation: nextSlideHide $timingFunction;
  animation: nextSlideHide $timingFunction;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes prevSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes prevSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@-webkit-keyframes nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes nextSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes nextSlideHide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}