$timingFunction: ease-in-out;

.increase-prev-slide-show {
  -webkit-animation: increase-showSlide $timingFunction forwards;
  animation: increase-showSlide $timingFunction forwards;
  z-index: 1;
}

.increase-prev-slide-hide {
  -webkit-animation: increase-hideSlide $timingFunction forwards;
  animation: increase-hideSlide $timingFunction forwards;
}

.increase-next-slide-show {
  -webkit-animation: increase-showSlide $timingFunction forwards;
  animation: increase-showSlide $timingFunction forwards;
  z-index: 1;
}

.increase-next-slide-hide {
  -webkit-animation: increase-hideSlide $timingFunction forwards;
  animation: increase-hideSlide $timingFunction forwards;
}

@-webkit-keyframes increase-showSlide {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes increase-showSlide {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes increase-hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes increase-hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}