$timingFunction: ease-in-out;

.overlay-prev-slide-show {
  -webkit-animation: prevSlideShow $timingFunction forwards;
  animation: prevSlideShow $timingFunction forwards;
  z-index: 1;
}

.overlay-prev-slide-hide {
  -webkit-animation: hideSlide $timingFunction forwards;
  animation: hideSlide $timingFunction forwards;
}

.overlay-next-slide-show {
  -webkit-animation: nextSlideShow $timingFunction forwards;
  animation: nextSlideShow $timingFunction forwards;
  z-index: 1;
}

.overlay-next-slide-hide {
  -webkit-animation: hideSlide $timingFunction forwards;
  animation: hideSlide $timingFunction forwards;
}

@-webkit-keyframes prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes prevSlideShow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes nextSlideShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes hideSlide {
  from {
    transform: translateX(0);
  }

  99% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}