$timingFunction: ease-in-out;

.replace-prev-slide-show {
  -webkit-animation: replace-prevSlideShow $timingFunction forwards;
  animation: replace-prevSlideShow $timingFunction forwards;
}

.replace-prev-slide-hide {
  -webkit-animation: replace-prevSlideHide $timingFunction forwards;
  animation: replace-prevSlideHide $timingFunction forwards;
}

.replace-next-slide-show {
  -webkit-animation: replace-nextSlideShow $timingFunction forwards;
  animation: replace-nextSlideShow $timingFunction forwards;
}

.replace-next-slide-hide {
  -webkit-animation: replace-nextSlideHide $timingFunction forwards;
  animation: replace-nextSlideHide $timingFunction forwards;
}

@-webkit-keyframes replace-prevSlideShow {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes replace-prevSlideShow {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes replace-prevSlideHide {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  to {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@keyframes replace-prevSlideHide {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  to {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@-webkit-keyframes replace-nextSlideShow {
  from {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes replace-nextSlideShow {
  from {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes replace-nextSlideHide {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}

@keyframes replace-nextSlideHide {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}