$timingFunction: ease-in-out;

.vertical-shift-prev-slide-show {
  -webkit-animation: prevSlideShow $timingFunction forwards;
  animation: prevSlideShow $timingFunction forwards;
}

.vertical-shift-prev-slide-hide {
  -webkit-animation: prevSlideHide $timingFunction forwards;
  animation: prevSlideHide $timingFunction forwards;
}

.vertical-shift-next-slide-show {
  -webkit-animation: nextSlideShow $timingFunction forwards;
  animation: nextSlideShow $timingFunction forwards;
}

.vertical-shift-next-slide-hide {
  -webkit-animation: nextSlideHide $timingFunction forwards;
  animation: nextSlideHide $timingFunction forwards;
}

@-webkit-keyframes prevSlideShow {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes prevSlideShow {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes prevSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes prevSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@-webkit-keyframes nextSlideShow {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes nextSlideShow {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes nextSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes nextSlideHide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}