$timingFunction: ease-in-out;

.zoom-out-prev-slide-show {
  -webkit-animation: zoomOut-showSlide $timingFunction forwards;
  animation: zoomOut-showSlide $timingFunction forwards;
}

.zoom-out-prev-slide-hide {
  -webkit-animation: zoomOut-prevSlideHide $timingFunction forwards;
  animation: zoomOut-prevSlideHide $timingFunction forwards;
  z-index: 1;
}

.zoom-out-next-slide-show {
  -webkit-animation: zoomOut-showSlide $timingFunction forwards;
  animation: zoomOut-showSlide $timingFunction forwards;
}

.zoom-out-next-slide-hide {
  -webkit-animation: zoomOut-nextSlideHide $timingFunction forwards;
  animation: zoomOut-nextSlideHide $timingFunction forwards;
  z-index: 1;
}

@-webkit-keyframes zoomOut-showSlide {
  from {
    transform: scale(.8) translateX(0);
  }

  75% {
    transform: scale(.8) translateX(0);
  }

  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes zoomOut-showSlide {
  from {
    transform: scale(.8) translateX(0);
  }

  75% {
    transform: scale(.8) translateX(0);
  }

  to {
    transform: scale(1) translateX(0);
  }
}

@-webkit-keyframes zoomOut-prevSlideHide {
  from {
    transform: scale(1) translateX(0);
  }

  50% {
    transform: scale(.8) translateX(0);
  }

  75% {
    transform: scale(.8) translateX(150%);
  }

  to {
    transform: scale(.8) translateX(150%);
  }
}

@keyframes zoomOut-prevSlideHide {
  from {
    transform: scale(1) translateX(0);
  }

  50% {
    transform: scale(.8) translateX(0);
  }

  75% {
    transform: scale(.8) translateX(150%);
  }

  to {
    transform: scale(.8) translateX(150%);
  }
}

@-webkit-keyframes zoomOut-nextSlideHide {
  from {
    transform: scale(1) translateX(0);
  }

  50% {
    transform: scale(.8) translateX(0);
  }

  75% {
    transform: scale(.8) translateX(-150%);
  }

  to {
    transform: scale(.8) translateX(-150%);
  }
}

@keyframes zoomOut-nextSlideHide {
  from {
    transform: scale(1) translateX(0);
  }

  50% {
    transform: scale(.8) translateX(0);
  }

  75% {
    transform: scale(.8) translateX(-150%);
  }

  to {
    transform: scale(.8) translateX(-150%);
  }
}